:root {
  --primary-color: #84a178;
  --accent-color: #f8d24e;
  --primary-text-color: #fcfcfc;
  --accent-text-color: #131313;

  // Бекграунд
  --page-bg-color: #84a178;
  --modal-bg-color: #ffffff;

  // Акцент
  --accent-color: #f8d24e;

  // Кнопка
  --base-btn-color: #f8d24e;
  --active-btn-color: #0a8817;
  --btn-text-dark-color: #000000;
  --btn-text-light-color: #fcfcfc;

  // Заголовки, текст, посилання
  --primary-title-color: #fcfcfc;
  --secondary-title-color: #131313;

  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;

  --primary-link-color: #fcfcfc;
  --secondary-link-color: #131313;
  --hover-link-color: #d6936d;

  // Соцмережі
  --svg-base-color: #84a178;
  --svg-active-color: #ffffff;

  // Для анімації
  --time: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}

// Бекграунд
$page-bg-color: #84a178;
$modal-bg-color: #ffffff;

// Акцент
$accent-color: #f8d24e;

// Кнопка
$base-btn-color: #f8d24e;
$active-btn-color: #0a8817;
$btn-text-dark-color: #000000;
$btn-text-light-color: #fcfcfc;

// Заголовки, текст, посилання
$primary-title-color: #fcfcfc;
$secondary-title-color: #131313;

$primary-text-color: #fcfcfc;
$secondary-text-color: #131313;

$primary-link-color: #fcfcfc;
$secondary-link-color: #131313;
$hover-link-color: #d6936d;

// Соцмережі
$svg-base-color: #84a178;
$svg-active-color: #ffffff;

// Для анімації
$time: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
