@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-color: #84a178;
  --accent-color: #f8d24e;
  --primary-text-color: #fcfcfc;
  --accent-text-color: #131313;
  --page-bg-color: #84a178;
  --modal-bg-color: #ffffff;
  --accent-color: #f8d24e;
  --base-btn-color: #f8d24e;
  --active-btn-color: #0a8817;
  --btn-text-dark-color: #000000;
  --btn-text-light-color: #fcfcfc;
  --primary-title-color: #fcfcfc;
  --secondary-title-color: #131313;
  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --primary-link-color: #fcfcfc;
  --secondary-link-color: #131313;
  --hover-link-color: #d6936d;
  --svg-base-color: #84a178;
  --svg-active-color: #ffffff;
  --time: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  background-color: var(--page-bg-color);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  cursor: url("../images/cursor.svg"), auto;
}
body.menu-no-scroll {
  overflow: hidden;
}

a,
button {
  cursor: url("../images/cursor-pointer.svg"), pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  /* padding: 0; */
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

input,
textarea {
  resize: none;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--btn-text-dark-color);
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-primary {
  border: 2px solid var(--base-btn-color);
  background-color: transparent;
  -webkit-transition-property: color, background-color, border;
  -o-transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-primary:hover {
  border: 2px solid var(--active-btn-color);
}
.btn-primary:focus {
  border: 2px solid var(--active-btn-color);
  color: var(--btn-text-light-color);
}

.btn-secondary {
  border: none;
  border: 2px solid transparent;
  background: var(--base-btn-color);
  -webkit-transition-property: color, background-color, border;
  -o-transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-secondary:hover {
  background: var(--active-btn-color);
}
.btn-secondary:focus {
  background: var(--active-btn-color);
  color: var(--btn-text-light-color);
}

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: transparent;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 16px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.logo__icon {
  width: 40px;
  height: 37px;
  fill: #f8d24e;
}
@media screen and (min-width: 768px) {
  .logo__icon {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__icon {
    width: 60px;
    height: 65px;
  }
}

.header__nav {
  margin-left: 303px;
}
@media screen and (max-width: 1199.98px) {
  .header__nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.nav__link {
  padding: 24px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fcfcfc;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #f8d24e;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
@media screen and (min-width: 1200px) {
  .header__buttons {
    margin-left: auto;
  }
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  width: 152px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #000000;
  background-color: #f8d24e;
  border: none;
  border-radius: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn:hover, .header__btn:focus {
  background-color: #0a8817;
}
.header__btn:focus {
  color: #fcfcfc;
}

@media screen and (max-width: 767.98px) {
  .header__btn--desk {
    display: none;
  }
}

.header__btn--mob {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__btn--mob {
    display: none;
  }
}

.header__icon {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.mobile-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  color: #ffffff;
  border: none;
  background-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.menu-overlay,
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
  background-color: rgba(25, 28, 38, 0.2);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-is-hidden,
.modal-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: #85a279;
  overflow-y: scroll;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-overlay.menu-is-hidden .mobile-menu {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .mobile-menu {
    background-color: #97af8d;
  }
}

.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__container {
    padding-top: 20px;
  }
}

.mobile-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__top {
    margin-bottom: 76px;
  }
}

.mobile-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mobile-menu__nav {
  margin-bottom: 50px;
}

.mobile-menu__list {
  text-align: center;
}

.mobile-menu__link {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
  color: #fcfcfc;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #131313;
}
.mobile-menu__item .mobile-menu__link {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__item .mobile-menu__link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.mobile-menu__item:first-child .mobile-menu__link {
  padding-top: 0;
}
.mobile-menu__item:last-child .mobile-menu__link {
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu__link {
    font-size: 48px;
    line-height: 1.2291666667;
  }
}

.header-modal {
  max-width: 280px;
  background-color: #ffffff;
  border-radius: 10px;
}

.hero__container {
  position: relative;
  padding-top: 99px;
  padding-bottom: 236px;
  background-image: url("../images/hero-header/dots-mob.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 80px;
    padding-bottom: 12px;
    background-image: url("../images/hero-header/dots-tab.svg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 118px;
    padding-bottom: 65px;
    background-image: url("../images/hero-header/dots-desk.svg");
  }
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  max-width: 250px;
  margin-bottom: 32px;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  -webkit-animation: bounceInDown 1000ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: bounceInDown 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199.98px) {
  .hero__title--large {
    font-size: 34px;
    line-height: 0.97;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 370px;
    margin-bottom: 28px;
    font-size: 38px;
    line-height: 1.2631578947;
  }
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero__link {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.hero__link--outlined {
  min-width: 108px;
  height: 38px;
  margin-right: 12px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__link--outlined {
    min-width: 134px;
    height: 42px;
  }
}
.hero__link--outlined:hover, .hero__link--outlined:focus {
  border-color: #0a8817;
}
.hero__link--outlined:focus {
  color: #fcfcfc;
}

.hero__link--underlined {
  min-width: 100px;
  height: 24px;
  text-decoration: underline;
  color: #f8d24e;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero__link--underlined {
    min-width: 114px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__link--underlined {
    min-width: 154px;
    height: 40px;
  }
}
.hero__link--underlined:hover {
  color: #0a8817;
}
.hero__link--underlined:focus {
  color: #fcfcfc;
}

.hero__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .hero__meta {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__meta {
    gap: 16px;
  }
}

.hero__tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .hero__tag {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.hero__count {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2142857143;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .hero__count {
    font-size: 46px;
    line-height: 1.2173913043;
  }
}

.hero__img--main {
  position: absolute;
  z-index: 5;
  left: 80px;
  bottom: 0;
}
@media screen and (min-width: 480px) {
  .hero__img--main {
    left: 134px;
  }
}
@media screen and (min-width: 768px) {
  .hero__img--main {
    left: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img--main {
    left: 652px;
  }
}

.hero__img--blur {
  position: absolute;
  left: 32px;
  bottom: -70px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .hero__img--blur {
    left: 86px;
  }
}
@media screen and (min-width: 768px) {
  .hero__img--blur {
    left: 356px;
    bottom: -55px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img--blur {
    left: 557px;
    bottom: -100px;
  }
}
.hero__img--main:hover + .hero__img--blur {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.hero__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-top: 12px;
}
@media screen and (max-width: 767.98px) {
  .hero__desc {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__desc {
    gap: 16px;
    margin-top: 42px;
  }
}

.hero__img--round {
  -webkit-animation: roundingPlate 1200ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: roundingPlate 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__img--round:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.hero__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero__caption {
    padding-top: 25px;
  }
}

.hero__text {
  max-width: 160px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.4;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    max-width: 215px;
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.hero__icon {
  width: 40px;
  height: 16px;
  fill: #fcfcfc;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes roundingPlate {
  0% {
    -webkit-transform: translateX(-150%) rotate(0);
            transform: translateX(-150%) rotate(0);
  }
  100% {
    -webkit-transform: translateX(0) rotate(720deg);
            transform: translateX(0) rotate(720deg);
  }
}
@keyframes roundingPlate {
  0% {
    -webkit-transform: translateX(-150%) rotate(0);
            transform: translateX(-150%) rotate(0);
  }
  100% {
    -webkit-transform: translateX(0) rotate(720deg);
            transform: translateX(0) rotate(720deg);
  }
}
.products {
  text-align: center;
  padding: 60px 0px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../images/product/ice-back320@1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/product/ice-back320@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url("../images/product/ice-back768@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/product/ice-back768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url("../images/product/ice-back1200@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/product/ice-back1200@2x.jpg");
  }
}

.products-label {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: normal;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
@media screen and (min-width: 768px) {
  .products-label {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products-label {
    font-size: 30px;
  }
}

.products-title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products-title {
    font-size: 34px;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products-title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 170px;
  border-radius: 24px;
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
  -ms-flex-preferred-size: 0 1 calc((100% - 58px) / 3);
      flex-basis: 0 1 calc((100% - 58px) / 3);
}
@media screen and (max-width: 767.98px) {
  .product-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 420px;
  width: 100%;
  border-radius: 24px;
  padding: 123px 40px 24px;
}
@media screen and (min-width: 768px) {
  .product-item {
    padding: 108px 26px 12px;
    min-height: 428px;
    max-width: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item {
    padding: 165px 64px 60px;
    min-height: 536px;
    max-width: 370px;
  }
}
.product-item::before {
  position: absolute;
  top: -97px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .product-item::before {
    top: -102px;
    height: 197px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item::before {
    top: -165px;
    width: 302px;
    height: 300px;
  }
}
.product-item::after {
  position: absolute;
  top: -108px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .product-item::after {
    top: -114px;
    height: 197px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item::after {
    top: -181px;
    width: 302px;
    height: 300px;
  }
}
.product-item:first-child {
  background: #aec6a5;
}
.product-item:first-child::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #d9d9d9;
  background: -o-linear-gradient(bottom, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}
.product-item:first-child::after {
  background: url("../images/product/ice-cream320@1x.jpg") center/cover no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-item:first-child::after {
    background-image: url("../images/product/ice-cream320@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .product-item:first-child::after {
    background-image: url("../images/product/ice-cream768@1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .product-item:first-child::after {
    background-image: url("../images/product/ice-cream768@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .product-item:first-child::after {
    background-image: url("../images/product/ice-cream1200@1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .product-item:first-child::after {
    background-image: url("../images/product/ice-cream1200@2x.jpg");
  }
}
.product-item:nth-child(2) {
  background: #efd478;
}
.product-item:nth-child(2)::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #d9d9d9;
  background: -o-linear-gradient(bottom, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.product-item:nth-child(2)::after {
  background: url("../images/product/ice-coffee320@1x.jpg") center/cover no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-item:nth-child(2)::after {
    background-image: url("../images/product/ice-coffee320@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .product-item:nth-child(2)::after {
    background-image: url("../images/product/ice-coffee768@1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .product-item:nth-child(2)::after {
    background-image: url("../images/product/ice-coffee768@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .product-item:nth-child(2)::after {
    background-image: url("../images/product/ice-coffee1200@1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .product-item:nth-child(2)::after {
    background-image: url("../images/product/ice-coffee1200@2x.jpg");
  }
}
.product-item:nth-child(3) {
  background: #d6936d;
}
.product-item:nth-child(3)::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(213, 117, 63, 0.7)), to(rgba(213, 117, 63, 0.7))), #d9d9d9;
  background: -o-linear-gradient(bottom, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
.product-item:nth-child(3)::after {
  background: url("../images/product/milkshakes320@1x.jpg") center/cover no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-item:nth-child(3)::after {
    background-image: url("../images/product/milkshakes320-2@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .product-item:nth-child(3)::after {
    background-image: url("../images/product/milkshakes768-2@1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .product-item:nth-child(3)::after {
    background-image: url("../images/product/milkshakes768-2@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .product-item:nth-child(3)::after {
    background-image: url("../images/product/milkshakes1200@1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .product-item:nth-child(3)::after {
    background-image: url("../images/product/milkshakes1200@2x.jpg");
  }
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .product-name {
    margin-bottom: 66px;
  }
}

.product-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1.76;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.product-button {
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
  padding: 20px 20px 0;
  border: none;
  background-color: inherit;
}

.about {
  padding-top: 61px;
}

.about__text-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .about__text-title {
    font-weight: 800;
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-title {
    font-size: 30px;
  }
}

.about__title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 0px;
    font-size: 34px;
    min-width: 454px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    min-width: 481px;
  }
}

.about__img {
  display: block;
  width: 279px;
  height: 278px;
  border-radius: 50%;
  background-color: rgba(248, 210, 78, 0.7);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 60px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-top: 72px;
    width: 336px;
    height: 330px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    width: 490px;
    height: 490px;
    margin-top: 82px;
    margin-bottom: 33px;
  }
}

.about__img::after {
  content: "";
  display: block;
  width: 279px;
  height: 278px;
  position: absolute;
  border-radius: 50%;
  bottom: -20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/about/cow-just_sm@1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__img::after {
    background-image: url("../images/about/cow-just_sm@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .about__img::after {
    background-image: url("../images/about/cow-just_md@1x.jpg");
    width: 336px;
    height: 330px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about__img::after {
    background-image: url("../images/about/cow-just_md@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .about__img::after {
    background-image: url("../images/about/cow-just_lg@1x.jpg");
    bottom: -33px;
    width: 490px;
    height: 490px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__img::after {
    background-image: url("../images/about/cow-just_lg@2x.jpg");
  }
}

.about__wrapping {
  display: block;
}
@media screen and (min-width: 768px) {
  .about__wrapping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about__img-wrap {
  margin-bottom: 40px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .about__img-wrap {
    margin-top: 72px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__img-wrap {
    margin-top: 82px;
    margin-bottom: 0;
  }
}

.about__wrap {
  display: block;
}
@media screen and (min-width: 768px) {
  .about__wrap {
    margin-left: 32px;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrap {
    margin-left: 100px;
    margin-top: 172px;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .about__text {
    min-width: 334px;
    text-align: left;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    min-width: 463px;
  }
}

.about__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .about__btn-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__btn-wrap {
    margin-top: 54px;
  }
}

.about__btn {
  background-color: #f8d24e;
  padding: 12px 34px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__icon {
  margin-left: 4px;
}

.advantages {
  padding-top: 50px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 178px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 204px;
  }
}

.advantages__list {
  display: block;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 22px;
  text-align: center;
}

.advantages__icon-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8d24e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__icon-wrap {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon-wrap {
    margin-bottom: 40px;
  }
}

.advantages__text-number {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__text-number {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text-number {
    font-size: 58px;
  }
}

.advantages__text {
  max-width: 320px;
  font-weight: 700px;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
  color: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    font-weight: 400px;
    max-width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    font-weight: 400px;
    max-width: 368px;
  }
}

.slider-container {
  background-image: url("../images/gallery/icecream1xbgMOB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
  .slider-container {
    background-image: url("../images/gallery/icecream2xbgMOB.jpg");
  }
}
@media screen and (min-width: 480px) {
  .slider-container {
    background-image: url("../images/gallery/icecream1xbgTAB.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
  .slider-container {
    background-image: url("../images/gallery/icecream2xbgTAB.jpg");
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .slider-container {
    background-image: url("../images/gallery/icecream1xbgDesk.jpg");
    height: 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
  .slider-container {
    background-image: url("../images/gallery/icecream2xbgDesk.jpg");
  }
}

.slider {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .slider {
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) {
  .slider {
    width: 91.67%;
  }
}
@media screen and (min-width: 768px) {
  .slider {
    width: 84.42%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    width: 84.42%;
    margin-left: auto;
    margin-right: auto;
  }
}

.slider_picture {
  margin: 0 auto;
  width: 280px;
}
@media screen and (min-width: 480px) {
  .slider_picture {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .slider_picture {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .slider_picture {
    max-width: 100%;
  }
}

.first-slider-picture {
  margin: 0 auto;
  width: 280px;
}
@media screen and (min-width: 480px) {
  .first-slider-picture {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .first-slider-picture {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .first-slider-picture {
    max-width: 100%;
    max-height: 410.75px;
  }
}

.customer-reviews {
  margin-top: 80px;
}

.slider-pictures {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .slider-pictures {
    margin-top: 100px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .slider-pictures {
    margin-top: 140px;
  }
}

.customer-photo {
  width: 100%;
  border-radius: 50%;
}

.reviews-box {
  width: 280px;
  height: 256px;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .reviews-box {
    width: 100%;
    border-radius: 24px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .reviews-box {
    height: 100%;
  }
}

.customer-name {
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.85;
  color: var(--accent-text-color);
}

.reviews-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.583;
  color: var(--primary-text-color);
  padding: 35px 39px;
}
@media screen and (min-width: 768px) {
  .reviews-text {
    padding: 28px 29px;
  }
}

.swiper {
  width: 280px;
}
@media screen and (min-width: 480px) {
  .swiper {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    width: 100%;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    gap: 32px;
  }
}

.location-btn,
.franchise-btn {
  color: var(--accent-text-color);
}

.contacts__header {
  visibility: hidden;
}

.contacts__link {
  color: var(--accent-text-color);
}

.contacts__item {
  padding: 40px 32px;
  border-radius: 24px;
  background: var(--primary-text-color);
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contacts__name {
  display: inline-block;
  background: #f8d24e;
  border-radius: 4px;
  padding: 5px 22px;
  color: var(--accent-text-color);
  font-weight: 500;
}

.contacts__city {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--accent-text-color);
}

.contacts__location {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--hover-link-color);
}
.contacts__location:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts__chicago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.workin-day {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color: var(--accent-text-color);
}

.working-time {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color: #ababab;
}

.working-hours {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-phone {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--accent-text-color);
}

.contacts-mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--accent-text-color);
}

.contacts__connection {
  margin-top: 24px;
}

.location-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--accent-color);
  border-radius: 10px;
  border: 2px solid transparent;
  padding-left: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 196px;
  height: 42px;
}
@media screen and (min-width: 1200px) {
  .location-btn {
    padding-left: 40px;
  }
}

.franchise-btn {
  background: var(--primary-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  padding: 12px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 196px;
  height: 42px;
}

.contacts__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__btn {
    margin-top: 60px;
  }
}

.footer {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-top: 120px;
  }
}

@media screen and (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__slogan {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__slogan {
    margin-bottom: 0;
  }
}

.footer__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.23;
  text-transform: uppercase;
  color: var(--btn-text-light-color);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 30px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    margin-bottom: 14px;
  }
}

.footer__title-text {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--btn-text-light-color);
}
@media screen and (min-width: 768px) {
  .footer__title-text {
    font-size: 48px;
    margin-right: 66px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title-text {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer__link:not(:last-child) {
  margin-right: 30px;
}

.footer__social-icon {
  fill: var(--primary-color);
}

.footer__contacts {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-top: 63px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-top: 16px;
  }
}

.footer__social {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-bottom: 40px;
  }
}

.footer__social-icon:hover,
.footer__social-icon:focus {
  fill: var(--btn-text-light-color);
}

.footer__tel {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: right;
}
@media screen and (min-width: 768px) {
  .footer__tel {
    width: 300px;
    font-size: 14px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tel {
    font-size: 16px;
    width: 350px;
  }
}

.footer__accent {
  color: var(--modal-bg-color);
}

.copyright {
  padding: 20px 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 1200px) {
  .copyright {
    padding-bottom: 12px;
    padding-top: 14px;
    font-size: 12px;
    line-height: 1.86;
  }
}

.product-backdrop {
  position: fixed;
  z-index: 300;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.is-product-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.product-modal {
  overflow: auto;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  max-width: 568px;
  max-height: 968px;
  padding: 20px 28px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product-backdrop.is-product-hidden .product-modal {
  -webkit-transform: translate(-50%, 0%) scaleY(0) rotate(90deg);
      -ms-transform: translate(-50%, 0%) scaleY(0) rotate(90deg);
          transform: translate(-50%, 0%) scaleY(0) rotate(90deg);
}
@media (min-width: 768px) {
  .product-modal {
    padding: 32px 40px;
    max-height: 995px;
  }
}

.product-close-btn {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  background-color: inherit;
  border: none;
  padding: 12px;
  margin-left: auto;
  margin-top: -20px;
  margin-right: -12px;
  -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
          transform: translateX(16px);
}
@media (min-width: 768px) {
  .product-close-btn {
    margin-top: -32px;
    -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
            transform: translateX(28px);
  }
}

.product-close-icon {
  fill: var(--secondary-link-color);
}

.product-modal-title {
  font-family: "Seymour One", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: var(--secondary-link-color);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .product-modal-title {
    margin-bottom: 24px;
  }
}

.product-img-wrap {
  width: 131px;
  height: 139px;
  border-radius: 50%;
  margin: 0 auto 24px;
}
.product-img-wrap::after {
  position: relative;
  top: -124px;
  content: "";
  display: block;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #d9d9d9;
  background: -o-linear-gradient(bottom, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.product-img-picture {
  position: relative;
  width: 131px;
  height: 131px;
  z-index: 2;
  border-radius: 50%;
  background-image: url("../images/product/ice-cream-choco320@1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-img-picture {
    background-image: url("../images/product/ice-cream-choco320@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .product-img-picture {
    background-image: url("../images/product/ice-cream-choco1200@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-img-picture {
    background-image: url("../images/product/ice-cream-choco1200@1x.jpg");
  }
}

.product-nutrition-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .product-nutrition-list {
    margin-bottom: 48px;
  }
}

.product-nutrition-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 53px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .product-nutrition-item {
    font-size: 12px;
  }
}

.product-nutrition-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43px;
  height: 43px;
  font-size: 10px;
  line-height: 2.8;
  border-radius: 50%;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  -webkit-box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.product-nutrition-name {
  font-size: 10px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.product-ingredients-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--secondary-title-color);
  margin-bottom: 24px;
}

.product-ingredients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 11px;
  line-height: 1.76;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .product-ingredients-list {
    margin-bottom: 48px;
  }
}

.product-ingredients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-modal-field {
  margin-bottom: 16px;
}

.product-modal-input,
.product-modal-area {
  width: 100%;
  max-width: 368px;
  font-size: 14px;
  line-height: 1.4;
  color: var(--secondary-text-color);
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px;
}

.product-modal-area {
  height: 84px;
  resize: none;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .product-modal-area {
    margin-bottom: 32px;
  }
}

.product-submit-btn {
  padding-left: 34px;
  padding-right: 34px;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */