<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__header visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__text contacts__text--large">Cafe</p>
        <p class="contacts__text contacts__text--city">Chicago</p>
        <a
          href="https://goo.gl/maps/Cbp1eoDgaKZPJFEo8"
          target="_blank"
          rel="noopener nereferrer"
          class="contacts__link contacts__link--location"
        >
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </a>
        <div class="contacts__worktime">
          <p class="contacts__text">Monday - Friday</p>
          <p class="contacts__text contacts__text--light">
            06:00 AM - 10:00 PM
          </p>
        </div>
        <div class="contacts__worktime">
          <p class="contacts__text">Saturday - Sunday</p>
          <p class="contacts__text contacts__text--light">
            08:00 AM - 16:00 PM
          </p>
        </div>
        <a class="contacts__link" href="tel:+610383766284">
          +61(0) 383 766 284</a
        >
        <a class="contacts__link" href="mailto:noreply@envato.com">
          noreply@envato.com</a
        >
      </li>
      <li class="contacts__item">
        <p class="contacts__text contacts__text--large">Foodtruck</p>
        <p class="contacts__text contacts__text--city">Los Angeles</p>
        <a
          href="https://goo.gl/maps/Q4FP8py18WqMuHaEA"
          target="_blank"
          rel="noopener nereferrer"
          class="contacts__link contacts__link--location"
        >
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </a>
        <div class="contacts__worktime">
          <p class="contacts__text">Monday - Friday</p>
          <p class="contacts__text contacts__text--light">
            06:00 AM - 10:00 PM
          </p>
        </div>
        <div class="contacts__worktime">
          <p class="contacts__text">Saturday - Sunday</p>
          <p class="contacts__text contacts__text--light">
            08:00 AM - 16:00 PM
          </p>
        </div>
        <a class="contacts__link" href="tel:+610383766284">
          +61(0) 383 766 284</a
        >
        <a class="contacts__link" href="mailto:noreply@envato.com">
          noreply@envato.com</a
        >
      </li>
      <li class="contacts__item">
        <p class="contacts__text contacts__text--large">Cafe</p>
        <p class="contacts__text contacts__text--city">New York</p>
        <a
          href="https://goo.gl/maps/6RiAWLgjcW172bfPA"
          target="_blank"
          rel="noopener nereferrer"
          class="contacts__link contacts__link--location"
        >
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </a>
        <div class="contacts__worktime">
          <p class="contacts__text">Monday - Friday</p>
          <p class="contacts__text contacts__text--light">
            06:00 AM - 10:00 PM
          </p>
        </div>
        <div class="contacts__worktime">
          <p class="contacts__text">Saturday - Sunday</p>
          <p class="contacts__text contacts__text--light">
            08:00 AM - 16:00 PM
          </p>
        </div>
        <a class="contacts__link" href="tel:+610383766284">
          +61(0) 383 766 284</a
        >
        <a class="contacts__link" href="mailto:noreply@envato.com">
          noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="contacts__btn">
      <button type="button" class="location-btn btn-secondary">
        Our Locations
        <svg class="contacts__icon">
          <use class="button-arrow" href="./images/icons.svg#arrow-small"></use>
        </svg>
      </button>
      <button type="button" class="franchise-btn btn-primary">
        Franchise
        <svg class="contacts__icon">
          <use class="button-arrow" href="./images/icons.svg#arrow-small"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
