<section class="contacts" id="contacts">
  <h1 class="contacts__header">Contacts</h1>
  <ul class="contacts__list container">
    <li class="contacts__item">
      <p class="contacts__name">Cafe</p>
      <div class="contacts__chicago">
        <p class="contacts__city">Chicago</p>
        <p class="contacts__location">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
      </div>
      <div class="working-hours">
        <div class="working-hours__item">
          <h2 class="workin-day">Monday - Friday</h2>
          <p class="working-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="working-hours__item">
          <h2 class="workin-day">Saturday - Sunday</h2>
          <p class="working-time">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <ul class="contacts__connection">
        <li class="contacts-phone">
          <a class="contacts__link" href="tel:+61(0) 383 766 284">
            +61(0) 383 766 284</a
          >
        </li>
        <li class="contacts-mail">
          <a class="contacts__link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li class="contacts__item">
      <div class="contacts__los-angeles">
        <p class="contacts__name">Foodtruck</p>
        <div class="contacts__chicago">
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__location">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </p>
        </div>
      </div>
      <div class="working-hours">
        <div class="working-hours__item">
          <h2 class="workin-day">Monday - Friday</h2>
          <p class="working-time">06:00 AM - 10:00 PM</p>
          <h2 class="workin-day">Saturday - Sunday</h2>
          <p class="working-time">08:00 AM - 16:00 PM</p>
        </div>
      </div>
      <ul class="contacts__connection">
        <li class="contacts-phone">
          <a class="contacts__link" href="tel:+61(0) 383 766 284">
            +61(0) 383 766 284</a
          >
        </li>
        <li class="contacts-mail">
          <a class="contacts__link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li class="contacts__item">
      <div class="contacts__new-york">
        <p class="contacts__name">Cafe</p>
        <div class="contacts__chicago">
          <p class="contacts__city">New York</p>
          <p class="contacts__location">
            726 Sterling Pl, Brooklyn, NY <br />
            11222, USA
          </p>
        </div>
      </div>
      <div class="working-hours">
        <h2 class="workin-day">Monday - Friday</h2>
        <p class="working-time">06:00 AM - 10:00 PM</p>
        <h2 class="workin-day">Saturday - Sunday</h2>
        <p class="working-time">08:00 AM - 16:00 PM</p>
      </div>
      <ul class="contacts__connection">
        <li class="contacts-phone">
          <a class="contacts__link" href="tel:+61(0) 383 766 284">
            +61(0) 383 766 284</a
          >
        </li>
        <li class="contacts-mail">
          <a class="contacts__link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <div class="contacts__btn">
    <button type="button" class="location-btn btn-primary">
      Our Locations
      <svg width="12" height="12">
        <use class="button-arrow" href="./images/icons.svg#arrow-small"></use>
      </svg>
    </button>
    <button type="button" class="franchise-btn btn-secondary">
      Franchise
      <svg width="12" height="12">
        <use class="button-arrow" href="./images/icons.svg#arrow-small"></use>
      </svg>
    </button>
  </div>
</section>
