<div class="slider-container">
      <section class="gallery">
        <h2 class="visually-hidden">Ice cream gallery</h2>
        <div class="container">
          <div class="slider">
            <img
              srcset="
                ./images/image/sliderPic2xfirstMob.jpg,
                ./images/image/sliderPic1xfirstTab.jpg,
                ./images/image/sliderPic2xfirstTab.jpg,
                ./images/image/sliderPic1xDesk1.jpg,
                ./images/image/sliderPic2xDesk1.jpg
              "
              src="./images/image/sliderPic1xfirstMob.jpg"
              alt="ice cream in waffle cup"
              class="slider_picture"
            />
           
          </div>
        </div>
      </section>

      <section class="customer-reviews">
        <h2 class="visually-hidden">Customers gallery</h2>
        <div class="container">
          <div class="slider">
            <div class="slider-pictures">
              <img
                srcset="
                  ./images/image/sliderPortret1xMOB1.jpg,
                  ./images/image/sliderPortret2xMOB1.jpg,
                  ./images/image/sliderPortret1xTAB1.jpg,
                  ./images/image/sliderPortret2xTAB1.jpg,
                  ./images/image/sliderPortret1xDesk1.jpg,
                  ./images/image/sliderPortret2x1Desk1.jpg
                "
                src="./images/image/sliderPortret1xMOB1.jpg"
                alt="Emily"
                class="customer-photo"
              />
            </div>

            <div class="reviews-box">
              <p class="reviews-text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <div class="customer-name"><p>Emily, Los Angeles</p></div>
          </div>
        </div>
      </section>