<section class="footer">
  <div class="footer__flex container">
    <div class="footer__slogan">
      <p class="footer__text">homemade ice cream made</p>
      <p class="footer__title-text">with passion</p>
    </div>
    <div class="footer__contacts">
      <ul class="footer__social">
        <li class="footer__link">
          <a class="footer__item" href="#">
            <svg width="34" height="34" class="footer__social-icon">
              <use href="./images/icons.svg#github-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer__link">
          <a class="footer__item" href="#">
            <svg width="34" height="34" class="footer__social-icon">
              <use href="./images/icons.svg#telegram-footer"></use>
            </svg>
          </a>
        </li>
        <li class="footer__link">
          <a class="footer__item" href="#">
            <svg width="34" height="34" class="footer__social-icon">
              <use href="./images/icons.svg#facebook-footer"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__tel">
        Feel free to contact
        <span class="footer__accent">+61 (0) 383 766 284</span>
      </p>
    </div>
  </div>
  <div class="copyright">© 2022 - IceCream. All Rights Reserved.</div>
</section>
