<div class="section-wrap">
  <section class="reviews">
    <div class="container">
      <h2 class="visually-hidden">Customers gallery</h2>
      <div class="reviwers-img"></div>
      <p class="reviews-text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <p class="reviews-name">Emily, Los Angeles</p>
    </div>
  </section>
</div>
