<header class="header">
  <div class="container header__container">
    <a href="#home" class="logo">
      <svg class="logo__icon">
        <use href="./images/icons.svg#logo-hero"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a href="#products" class="nav__link">Our products</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button
        type="button"
        class="mobile-menu__btn mobile-menu__btn--open"
        data-menu-open
      >
        <svg class="mobile-menu__icon">
          <use href="./images/icons.svg#menu-burger"></use>
        </svg>
      </button>
      <button type="button" class="header__btn header__btn--desk">
        Buy now
      </button>
    </div>
  </div>
  <div class="menu-overlay menu-is-hidden" data-menu>
    <div class="mobile-menu">
      <div class="container mobile-menu__container">
        <div class="mobile-menu__top">
          <a href="" class="logo" id="home">
            <svg class="logo__icon">
              <use href="./images/icons.svg#logo-hero"></use>
            </svg>
          </a>
          <button
            type="button"
            class="mobile-menu__btn mobile-menu__btn--close"
            data-menu-close
          >
            <svg class="mobile-menu__icon">
              <use href="./images/icons.svg#close-mobile-menu"></use>
            </svg>
          </button>
        </div>
        <div class="mobile-menu__bottom">
          <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list">
              <li class="mobile-menu__item">
                <a href="#home" class="mobile-menu__link">Home</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#about" class="mobile-menu__link">How it’s made?</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#products" class="mobile-menu__link">Our products</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#contacts" class="mobile-menu__link">Contact</a>
              </li>
            </ul>
          </nav>
          <button type="button" class="header__btn header__btn--mob">
            Buy now
            <svg class="header__icon">
              <use href="./images/icons.svg#arrow-small"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container hero__container">
    <div class="hero__wrap">
      <div class="hero__content">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--large">passion</span>
        </h1>
        <div class="hero__buttons">
          <a href="#products" class="hero__link hero__link--outlined"
            >Products</a
          >
          <a href="#about" class="hero__link hero__link--underlined"
            >How it’s made?</a
          >
        </div>
      </div>
      <div class="hero__meta">
        <p class="hero__tag"><span class="hero__count">16</span> cafes</p>
        <p class="hero__tag"><span class="hero__count">23</span> food trucks</p>
      </div>
    </div>
    <div class="hero__picture"></div>
    <img
      srcset="
        ./images/hero-header/hero-blur-mob.png     182w,
        ./images/hero-header/hero-blur-mob@2x.png  364w,
        ./images/hero-header/hero-blur-tab.png     266w,
        ./images/hero-header/hero-blur-tab@2x.png  532w,
        ./images/hero-header/hero-blur-desk.png    477w,
        ./images/hero-header/hero-blur-desk@2x.png 954w
      "
      sizes="(min-width: 1200px) 477px, (min-width: 768px) 266px, (min-width: 320px) 182px, 100vw"
      src="./images/hero-header/hero-blur-mob.png"
      alt="Blur"
      class="hero__blur"
    />
    <img
      srcset="
        ./images/hero-header/hero-ice-mob.png     176w,
        ./images/hero-header/hero-ice-mob@2x.png  352w,
        ./images/hero-header/hero-ice-tab.png     268w,
        ./images/hero-header/hero-ice-tab@2x.png  536w,
        ./images/hero-header/hero-ice-desk.png    456w,
        ./images/hero-header/hero-ice-desk@2x.png 912w
      "
      sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 320px) 176px, 100vw"
      src="./images/hero-header/hero-ice-mob.png"
      alt="Ice cream with eyes"
      class="hero__img"
    />

    <div class="hero__desc">
      <img
        srcset="
          ./images/hero-header/hero-plate-tab.png     152w,
          ./images/hero-header/hero-plate-tab@2x.png  304w,
          ./images/hero-header/hero-plate-desk.png    225w,
          ./images/hero-header/hero-plate-desk@2x.png 450w
        "
        sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
        src="./images/hero-header/hero-plate-tab.png"
        alt="Ice cream on a plate"
      />
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>
  </div>
</section>
