.about__backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 150ms liner, visibility 150ms liner;
  z-index: 300;
}

.about__modal {
  padding: 28px;
  width: 90%;
  min-width: 280px;
  min-height: 459px;
  background-color: $primary-link-color;

  z-index: 301;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 150ms liner;
  @media (min-width: 480px) {
    padding: 32px 60px;
    width: 440px;
    min-height: 449px;
  }

  @media (min-width: 768px) {
    padding: 32px 60px;
    width: 568px;
    min-height: 449px;
  }
}

.about__close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.about__backdrop.is-hidden .about__modal {
  transform: translateY(-50%, -50%) scale(0);
}

.about__modal-title {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: $secondary-title-color;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.about__modal-video {
  border-radius: 10px;
  width: 100%;
  height: 199px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 32px;
    height: 205px;
  }
}

.about__modal-text {
  font-size: 14px;
  line-height: 1.4;
  color: $secondary-title-color;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.4;
  }
}
