.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    gap: 32px;
  }
}

.contacts__item {
  padding: 40px 32px;
  border-radius: 24px;
  background: var(--primary-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  flex: 1;
}

.contacts__name {
  display: inline-block;
  background: #f8d24e;
  border-radius: 4px;
  padding: 5px 22px;
  color: var(--accent-text-color);
  font-weight: 500;
}

.contacts__city {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--accent-text-color);
}

.contacts__location {
  font-weight: 500;
  font-size: 12px;

  line-height: 1.86;
  color: var(--hover-link-color);
}

.contacts__chicago {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.workin-day {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color: var(--accent-text-color);
}

.working-time {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  color: #ababab;
}

.working-hours {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-phone {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--accent-text-color);
}

.contacts-mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--accent-text-color);
}

.contacts__connection {
  margin-top: 24px;
}

.location-btn {
  background: var(--accent-color);
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 200px;
}

.franchise-btn {
  background: var(--primary-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  padding: 12px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 200px;
}

.contacts__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
  }
  @include desktop {
    margin-top: 60px;
  }
}
