.reviews {
  margin-bottom: 40px;

  @include adaptive(tab-min) {
    margin-bottom: 80px;
  }

  @include adaptive(desk) {
    margin-bottom: 100px;
  }
}

.reviwers-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto 32px auto;
  padding-top: 80px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('../images/gallery/sliderPortret1xMOB1.jpg');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/gallery/sliderPortret2xMOB1.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/gallery/sliderPortret1xTAB1.jpg');
    margin-top: 100px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/gallery/sliderPortret2xTAB1.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../images/gallery/sliderPortret1xDesk1.jpg');
    margin-top: 140px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/gallery/sliderPortret2x1Desk1.jpg');
    }
  }
}

.reviews-text {
  width: 100%;
  padding: 35px 39px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: normal;
  background-color: var(--primary-color);
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 705px;
    padding: 28px 80px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    width: 968px;
    padding: 43px 109px;
    font-size: 16px;
  }
}

.reviews-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  color: var(--accent-text-color);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
