.footer {
  margin-top: 60px;
  @include tablet {
    margin-top: 40px;
  }
  @include desktop {
    margin-top: 120px;
  }
}

.footer__flex {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}
.footer__slogan {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0;
  }
}

.footer__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.23;
  text-transform: uppercase;
  color: var(--btn-text-light-color);
  margin-bottom: 16px;
  @include tablet {
    font-size: 30px;
    margin-bottom: 8px;
  }
  @include desktop {
    margin-bottom: 14px;
  }
}
.footer__title-text {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--btn-text-light-color);
  @include tablet {
    font-size: 48px;
    margin-right: 66px;
  }
  @include desktop {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.footer__social {
  display: flex;
  justify-content: end;
}
.footer__link:not(:last-child) {
  margin-right: 30px;
}
.footer__social-icon {
  fill: var(--primary-color);
}
.footer__contacts {
  margin-top: 60px;
  @include tablet {
    margin-top: 63px;
  }
  @include desktop {
    margin-top: 16px;
  }
}
.footer__social {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}
.footer__item {
  color: var(--primary-color);
  &:hover,
  &:focus {
    fill: var(--btn-text-light-color);
    color: var(--btn-text-light-color);
  }
}
.footer__social-icon {
  fill: currentColor;
}

.footer__tel {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: right;
  @include tablet {
    width: 320px;
    font-size: 14px;
    margin-bottom: 60px;
  }
  @include desktop {
    font-size: 16px;
    width: 360px;
  }
}
.footer__accent {
  color: var(--modal-bg-color);
}

.copyright {
  padding: 20px 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  @include tablet {
  }
  @include desktop {
    padding-bottom: 12px;
    padding-top: 14px;
    font-size: 12px;
    line-height: 1.86;
  }
}
