.section-wrap {
  background-image: url('../images/gallery/icecream1xbgMOB.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-resolution: 2dppx) {
    background-image: url('../images/gallery/icecream2xbgMOB.jpg');
  }
  @media screen and (min-width: 480px) {
    background-image: url('../images/gallery/icecream1xbgTAB.jpg');
  }
  @media (min-resolution: 2dppx) {
    background-image: url('../images/gallery/icecream2xbgTAB.jpg');
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/gallery/icecream1xbgDesk.jpg');
    height: 100%;
  }
  @media (min-resolution: 2dppx) {
    background-image: url('../images/gallery/icecream2xbgDesk.jpg');
  }
}

.reviwers-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto 32px;

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('../images/gallery/sliderPortret1xMOB1.jpg');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/gallery/sliderPortret2xMOB1.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/gallery/sliderPortret1xTAB1.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/gallery/sliderPortret2xTAB1.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../images/gallery/sliderPortret1xDesk1.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/gallery/sliderPortret2x1Desk1.jpg');
    }
  }
}

.reviews-text {
  width: 100%;
  padding: 35px 39px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: normal;
  background-color: var(--primary-color);
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding: 28px 80px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    padding: 43px 109px;
    font-size: 16px;
  }
}

.reviews-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  color: var(--accent-text-color);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
