// GENERAL

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  @include sizes(100%, 100%);
  opacity: 1;
  overflow-y: scroll;
  background-color: rgba(25, 28, 38, 0.2);
  transition: opacity $time $function, visibility $time $function;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

// MODAL WINDOW

.header-modal__overlay {
  padding: 20px;

  @include adaptive(tab-only) {
    padding: 60px 0 0;
  }
}

.header-modal {
  position: relative;
  padding: 28px;
  text-align: center;
  background-color: $modal-bg-color;
  border: 2px solid $accent-color;
  border-radius: 10px;
  opacity: 1;
  transform: scale(1);
  transition: opacity $time $function, transform $time $function;

  @include adaptive(tab-min) {
    max-width: 568px;
    margin: 0 auto;
  }

  @include adaptive(desk) {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 32px;
    transform: translate(-50%, -50%) scale(1);
  }

  .is-hidden & {
    opacity: 0;
    transform: scale(1.2);

    @include adaptive(desk) {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.header-modal__btn {
  position: absolute;
  top: 12px;
  right: 12px;
  @include centeredFlex;
  @include sizes(20px, 20px);
  color: $secondary-link-color;
  background-color: transparent;
  border: none;

  @include adaptive(tab-min) {
    @include sizes(24px, 24px);
  }
}

.header-modal__icon {
  flex-shrink: 0;
  @include sizes(20px, 20px);
  fill: currentColor;

  @include adaptive(tab-min) {
    @include sizes(24px, 24px);
  }
}

.header-modal__title {
  margin-bottom: 83px;
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: calc(24 / 16);
  color: $secondary-text-color;

  @include adaptive(tab-min) {
    margin-bottom: 103px;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.header-modal__list {
  margin-bottom: 28px;

  @include adaptive(tab-min) {
    @include centeredFlex;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.header-modal__item {
  position: relative;
  @include sizes(132px, 136px);
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 20px;
  border: 2px solid;
  border-radius: 16px;

  &::before {
    position: absolute;
    top: -56px;
    left: -2px;
    content: '';
    @include sizes(132px, 132px);
    border-radius: 50%;
  }

  &:nth-child(1) {
    border-color: #96af8c;
    filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
  }

  &:nth-child(1)::before {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
  }

  &:nth-child(2) {
    background-color: #efd478;
    border-color: #efd478;
    box-shadow: 0px 5px 20px rgba(212, 20, 67, 0.1);
  }

  &:nth-child(2)::before {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
  }

  &:nth-child(3) {
    border-color: #d6936d;
    filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
  }

  &:nth-child(3)::before {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  }

  &:not(:last-child) {
    @include adaptive(mob-only) {
      margin-bottom: 83px;
    }
  }
}

.header-modal__wrap {
  position: absolute;
  top: -63px;
  left: -2px;
  @include sizes(132px, 132px);
  border-radius: 50%;
  overflow: hidden;
}

.header-modal__text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.header-modal__form {
  @include adaptive(tab-min) {
    max-width: 368px;
    margin: 0 auto;
  }
}

.header-modal__field {
  position: relative;
  margin-bottom: 12px;

  @include adaptive(tab-min) {
    margin-bottom: 16px;
  }

  &:last-of-type {
    margin-bottom: 24px;

    @include adaptive(tab-min) {
      margin-bottom: 32px;
    }
  }
}

.header-modal__label {
  position: absolute;
  top: 6px;
  left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: $secondary-text-color;
  transition: transform $time $function;

  .header-modal__input:not(:placeholder-shown) + &,
  .header-modal__field:focus-within &,
  .header-modal__field:focus & {
    transform: translateY(-20px);

    @include adaptive(tab-min) {
      transform: translateY(-28px);
    }
  }

  @include adaptive(tab-min) {
    top: 11px;
    left: 16px;
    font-size: 14px;
  }
}

.header-modal__input {
  width: 100%;
  padding: 5px 12px;
  font-family: inherit;
  font-size: 14px;
  color: $secondary-text-color;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;

  &::placeholder {
    color: rgba(248, 210, 78, 0.1);
  }

  &:not(:placeholder-shown),
  &:focus-within,
  &:focus {
    border-color: $accent-color;
  }

  @include adaptive(tab-min) {
    padding: 11px 16px;
  }
}
