// HEADER

.header {
  position: absolute;
  z-index: 30;
  width: 100%;
  background-color: transparent;
}

.header__container {
  @include centeredFlex(space-between);
  padding-top: 12px;

  @include adaptive(tab-min) {
    padding-top: 20px;
  }

  @include adaptive(desk) {
    padding-top: 16px;
    justify-content: flex-start;
  }
}

.logo__icon {
  @include sizes(40px, 37px);
  fill: $accent-color;

  @include adaptive(tab-min) {
    @include sizes(48px, 44px);
  }

  @include adaptive(desk) {
    @include sizes(60px, 65px);
  }
}

.header__nav {
  margin-left: 303px;
  @include adaptive(not-desk) {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 28px;
}

.nav__link {
  padding: 24px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: $primary-link-color;
  transition: color $time $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 32px;

  @include adaptive(desk) {
    margin-left: auto;
  }
}

.header__btn {
  @include centeredFlex;
  gap: 4px;
  @include sizes(152px, 42px);
  flex-shrink: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $secondary-link-color;
  background-color: $accent-color;
  border: none;
  border-radius: 10px;
  transition: background-color $time $function, color $time $function;

  &:hover,
  &:focus {
    background-color: $active-btn-color;
  }

  &:focus {
    color: $btn-text-light-color;
  }
}

.header__btn--desk {
  @include adaptive(mob-only) {
    display: none;
  }
}

.header__btn--mob {
  margin: 0 auto;

  @include adaptive(tab-min) {
    display: none;
  }
}

.header__btn--small {
  width: 114px;
  margin: 0 auto;
  font-size: 12px;
  line-height: calc(15 / 12);

  @include adaptive(tab-min) {
    width: 121px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.header__icon {
  @include sizes(12px, 12px);
  fill: currentColor;
}

// MOBILE MENU

.mobile-menu__btn {
  @include centeredFlex;
  @include sizes(32px, 32px);
  color: #ffffff;
  border: none;
  background-color: transparent;
  transition: color $time $function;

  &:hover,
  &:focus {
    color: $secondary-link-color;
  }

  @include adaptive(desk) {
    display: none;
  }
}

.mobile-menu__icon {
  flex-shrink: 0;
  @include sizes(32px, 32px);
  fill: currentColor;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: #85a279;
  overflow-y: scroll;
  transform: translateX(0);
  transition: transform $time $function;

  .overlay.is-hidden & {
    transform: translateX(100%);
  }

  @include adaptive(tab-only) {
    background-color: #97af8d;
  }
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 64px;

  @include adaptive(tab-min) {
    padding-top: 20px;
  }
}

.mobile-menu__wrap {
  @include centeredFlex(space-between);
  margin-bottom: 51px;

  @include adaptive(tab-min) {
    margin-bottom: 76px;
  }
}

.mobile-menu__nav {
  @include adaptive(mob-only) {
    margin-bottom: 110px;
  }
}

.mobile-menu__list {
  text-align: center;
}

.mobile-menu__link {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: $primary-link-color;
  transition: color $time $function;

  &:hover,
  &:focus {
    color: $secondary-link-color;
  }

  .mobile-menu__item & {
    padding-top: 16px;
    padding-bottom: 16px;

    @include adaptive(tab-min) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .mobile-menu__item:first-child & {
    padding-top: 0;
  }

  .mobile-menu__item:last-child & {
    padding-bottom: 0;
  }

  @include adaptive(tab-min) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
}

// UP BUTTON

.page-up-btn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 50;
  justify-content: center;
  align-items: center;
  @include sizes(36px, 36px);
  color: $accent-color;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: color $time $function;

  &:hover,
  &:focus {
    color: $secondary-link-color;
  }

  @include adaptive(tab-min) {
    bottom: 20px;
    right: 32px;
    @include sizes(48px, 48px);
  }

  @include adaptive(desk) {
    bottom: 30px;
    right: 40px;
    @include sizes(60px, 60px);
  }
}

.page-up-icon {
  flex-shrink: 0;
  @include sizes(36px, 36px);
  fill: currentColor;

  @include adaptive(tab-min) {
    @include sizes(48px, 48px);
  }

  @include adaptive(desk) {
    @include sizes(60px, 60px);
  }
}

// HERO-SECTION

.hero__container {
  position: relative;
  padding-top: 99px;
  padding-bottom: 236px;
  background-image: url('../images/hero-header/dots-mob.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  // overflow: hidden;

  @include adaptive(tab-min) {
    padding-top: 80px;
    padding-bottom: 12px;
    background-image: url('../images/hero-header/dots-tab.svg');
  }

  @include adaptive(desk) {
    padding-top: 118px;
    padding-bottom: 65px;
    background-image: url('../images/hero-header/dots-desk.svg');
  }
}

.hero__wrap {
  display: flex;
  align-items: center;
}

.hero__title {
  max-width: 250px;
  margin-bottom: 32px;
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-title-color;
  animation: bounceInDown 1000ms $function;

  &--large {
    @include adaptive(not-desk) {
      font-size: 34px;
      line-height: 0.97;
    }
  }

  @include adaptive(tab-min) {
    margin-bottom: 24px;
  }

  @include adaptive(desk) {
    max-width: 370px;
    margin-bottom: 28px;
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
}

.hero__link {
  @include centeredFlex;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: $secondary-link-color;

  @include adaptive(desk) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.hero__link--outlined {
  min-width: 108px;
  height: 38px;
  margin-right: 12px;
  border: 2px solid $accent-color;
  border-radius: 10px;
  transition: border-color $time $function;

  @include adaptive(desk) {
    min-width: 134px;
    height: 42px;
  }

  &:hover,
  &:focus {
    border-color: $active-btn-color;
  }

  &:focus {
    color: $btn-text-light-color;
  }
}

.hero__link--underlined {
  min-width: 100px;
  height: 24px;
  text-decoration: underline;
  color: $accent-color;
  transition: color $time $function;

  @include adaptive(tab-min) {
    min-width: 114px;
  }

  @include adaptive(desk) {
    min-width: 154px;
    height: 40px;
  }

  &:hover {
    color: $active-btn-color;
  }

  &:focus {
    color: $btn-text-light-color;
  }
}

.hero__meta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;

  @include adaptive(mob-only) {
    display: none;
  }

  @include adaptive(desk) {
    gap: 16px;
  }
}

.hero__tag {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 8px;
  line-height: calc(10 / 8);
  text-align: right;
  color: $primary-text-color;

  @include adaptive(desk) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.hero__count {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28);
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-text-color;

  @include adaptive(desk) {
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}

.hero__img--main {
  position: absolute;
  z-index: 5;
  left: 80px;
  bottom: 0;

  @include adaptive(mob-min) {
    left: 134px;
  }

  @include adaptive(tab-min) {
    left: 400px;
  }

  @include adaptive(desk) {
    left: 652px;
  }
}

.hero__img--blur {
  position: absolute;
  left: 32px;
  bottom: -70px;
  pointer-events: none;
  transition: transform $time $function;

  @include adaptive(mob-min) {
    left: 86px;
  }

  @include adaptive(tab-min) {
    left: 356px;
    bottom: -55px;
  }

  @include adaptive(desk) {
    left: 557px;
    bottom: -100px;
  }

  .hero__img--main:hover + & {
    transform: scale(1.15);
  }
}

.hero__desc {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 12px;

  @include adaptive(mob-only) {
    display: none;
  }

  @include adaptive(desk) {
    gap: 16px;
    margin-top: 42px;
  }
}

.hero__img--round {
  animation: roundingPlate 1200ms $function;
  transition: transform 500ms $function;

  &:hover {
    transform: rotate(360deg);
  }
}

.hero__caption {
  display: flex;
  flex-direction: column;

  @include adaptive(desk) {
    padding-top: 25px;
  }
}

.hero__text {
  max-width: 160px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.4;
  color: $primary-text-color;

  @include adaptive(desk) {
    max-width: 215px;
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.hero__icon {
  @include sizes(40px, 16px);
  fill: $primary-link-color;
}

// ANIMATIONS

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes roundingPlate {
  0% {
    transform: translateX(-150%) rotate(0);
  }

  100% {
    transform: translateX(0) rotate(720deg);
  }
}
